# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
src_old/
pip-selfcheck.json

# Build artifacts
build/
src_old/
dist/
*.egg-info/
/site

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific
.idea/
.vscode/
*.swp
